s1{
    font-size: x-large;
    font-weight: bold;
    color: black;
}

s2{
    font-size: 16px;
   /* font-weight: bold;*/
    color: black;
}
s3{
    font-size: 12px;
    /*font-weight: bold;*/
    color: black;
    
}