s1{
    font-size: large;
   /* font-weight: bold;*/
    color: black;
}

s2{
    font-size: 14px;
   /* font-weight: bold;*/
    color: black;
}
s3{
    font-size: 12px;
    /*font-weight: bold;*/
    color: black;
    
}